*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f8f9fc;
}

/* Navbar */
header{
    background:#0d1b2a;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
}

.logo{
    font-size:30px;
    font-weight:bold;
    color:#00c6ff;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin:0 15px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

/* Hero */
.contact-hero{
    height:50vh;
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('https://via.placeholder.com/1500x700');
    background-size:cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
}

.contact-hero h1{
    font-size:55px;
}

.contact-section{
    display:flex;
    justify-content:center;
    gap:40px;
    padding:60px;
    flex-wrap:wrap;
}

/* Form */
.contact-form{
    background:white;
    padding:30px;
    width:500px;
    border-radius:10px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.1);
}

.contact-form form{
    display:flex;
    flex-direction:column;
}

.contact-form input,
.contact-form textarea{
    margin:10px 0;
    padding:12px;
}

.contact-form button{
    background:#00c6ff;
    color:white;
    border:none;
    padding:12px;
    cursor:pointer;
}

/* Contact Info */
.contact-info{
    width:400px;
}

.contact-info h2{
    margin-bottom:20px;
}

.socials a{
    display:block;
    margin:10px 0;
    color:#00c6ff;
    text-decoration:none;
}

/* Map */
.map{
    padding:40px;
    text-align:center;
}

/* Footer */
footer{
    background:#0d1b2a;
    color:white;
    text-align:center;
    padding:20px;
}

/* Responsive */
@media(max-width:768px){
    header{
        flex-direction:column;
    }

    nav ul{
        flex-direction:column;
        text-align:center;
    }

    .contact-form{
        width:100%;
    }

    .contact-info{
        width:100%;
    }
}